#root {
  margin: 0 auto;
  padding: 2rem;
}

.header {
  font-size: 40px;

}

.title {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 50px;
  text-align: center;
}

.albums {
 margin: 30px;
 display: flex;
 flex-direction: column;

}

.split {
display: flex;
flex-direction: row;
justify-content: flex-start;
z-index: -1;
}

.left {
  width: 50%;
}

.right {
width: 50%;
}