#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  font-size: 40px;

}

.title {
  margin: 0;
}

.main{
 
}

.split {
position: fixed;
height: 100%;
width: 100%;
overflow-x: hidden;
padding-top: 20px;
display: flex;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  width: 60%;
  right: 0;
  background-color: red;
}